body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    color: darkblue;
    font-size: 20px;
}

.question {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional styling for question numbering */
.question p {
    font-weight: bold;
    margin-bottom: 5px;
}

#demo{
	font-size: 12px;
	color: darkblue;
}