{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>Quiz Time!</h1>
    <br>
    {{ score }}
 
    <div class="container">
        <form method="POST">
            <input type="hidden" name="answer" value="123">
            <!-- Εμφάνιση της ερώτησης -->
            <div class="form-group">
                <label>{{ question.question_text }}</label>
            </div>

            <!-- Εμφάνιση των απαντήσεων ως radio buttons με το Bootstrap -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="x" name="answer" value="{{ question.option_A }}" required>
                    <label class="form-check-label" for="option_A">{{ question.option_A }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="x" name="answer" value="{{ question.option_B }}" required>
                    <label class="form-check-label" for="option_B">{{ question.option_B }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="x" name="answer" value="{{ question.option_C }}" required>
                    <label class="form-check-label" for="option_C">{{ question.option_C }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="x" name="answer" value="{{question.option_D}}" required>
                    <label class="form-check-label" for="option_D">{{ question.option_D }}</label>
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}